@font-face {
    font-family: 'Bedstead';
    src: url('fonts/bedstead/bedstead.otf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Bedstead';
    src: url('fonts/bedstead/bedstead-bold.otf') format('opentype');
    font-weight: bold;
}


@font-face {
    font-family: 'dejavu-sans-mono';
    src: url('fonts/dejavu-sans-mono/DejaVuSansMono.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'dejavu-sans-mono';
    src: url('fonts/dejavu-sans-mono/DejaVuSansMono-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'ubuntu-font';
    src: url('fonts/ubuntu-font/Ubuntu-M.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'ubuntu-font';
    src: url('fonts/ubuntu-font/Ubuntu-B.ttf') format('truetype');
    font-weight: bold;
}