<header class="title-bar">
    <div class="menu-toggle" aria-label="Toggle menu" role="button" tabindex="0">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <h1>AlchemYT</h1>
    <button class="fetch-cert">Fetch Certificate</button>
</header>

<nav class="side-menu">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="license.html">License</a></li>
        <li><a href="termsofservice.html">Terms of Service</a></li>
        <li><a href="https://github.com/AlchemyCore" target="_blank" rel="noopener noreferrer">AlchemyCore
                (Organization)</a>
        </li>
        <li><a href="https://github.com/AlchemistChief" target="_blank" rel="noopener noreferrer">AlchemistChief
                (Personal)</a></li>
    </ul>
</nav>